.Voucher {

    .grid {
        position: static;
        padding: 2.5rem 3rem;
        justify-content: flex-start;
        gap: 10rem;

        .top {
            width: 100%;
            line-height: 0;
            
            text-align: center;

            img {
                max-width: 37rem;
            }
        }

        .content-voucher {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4.5rem;

            text-align: center;

            .title {
                font-size: 5.2rem;
                font-weight: 700;
                letter-spacing: 2px;
            }

            > p {
                font-size: 3rem;
                font-weight: 300;

                span {
                    color: var(--color-primary);
                    font-weight: 600;
                }

                &.text-bi {
                    font-size: 2.7rem;
                }
            }

            .logo {
                max-width: 20rem;
            }

            > .btn-primary {
                padding: 3rem 4.5rem;
            }




            .result-voucher {
                outline: 3px solid #fff;
                border-radius: 5px;
                padding: 1rem;

                font-size: 2.4rem;
                font-weight: 600;
            }

            .btn-small {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .btn-primary {
                    padding: 3rem 4rem;
                }
                small {
                    font-size: 1.4rem;
                }
            }
            
            .bottom {
                font-size: 2rem;
                line-height: 110%;

                a {
                    font-weight: 600;
                }
            }
        }

        .content-not-voucher {
            transform: translateY(-5rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3.5rem;

            .img-title {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    max-width: 18rem;
                }
                .title {
                    font-size: 4.8rem;
                    font-weight: 700;
                    letter-spacing: 2px;

                    text-align: center;
                }
            }

            .separator {
                background-color: #CCCCCC;
                height: 3px;
                width: 100%;
                max-width: 27rem;
            }

            p {
                font-size: 2.6rem;
                font-weight: 300;
                text-align: center;
            }
            .msg-mid {
                span {
                    font-weight: 700;
                }
            }
            .msg-bottom {
                font-size: 2.4rem;
                a {
                    font-weight: 600;
                }
            }


            @media (max-width: 360px) {
                @media (max-height: 600px) {
                    transform: translateY(-9rem);
                    gap: 3rem;

                    .img-title {       
                        img {
                            max-width: 15rem;
                        }
                        .title {
                            font-size: 4.8rem;
                            font-weight: 700;
                            letter-spacing: 2px;
        
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}